extends ./layout.jade
block contenido
    div(class="col-md-8 no-float center-block top-space")
            if usuario
                a(href="/cervezas/internacionales/new")
                    h1 Nueva
                a(href="/app/subirfoto")
                    h1 Foto

            h3 cervezas internacionales

            if mensaje
                div(class= 'alert alert-success animated fadeOut delay-2', role= 'alert')
                    p= mensaje
            //div(class="container")
            
            .row-fluid
                for cervezas in listaBeer
                    .col-sm-3.col-md-3.col-xs-6.col-lg-3
                        .thumbnail
                          img(src='#{cervezas.imagen}', alt='...')
                  
                          .caption
                            h3 #{cervezas.nombre}
                              
                            p #{cervezas.descripcion}
                                   
                            p
                              if usuario  
                                  a.btn.btn-primary(href="/cervezas/internacionales/#{cervezas._id}/editar", role='button') Editar
                                  form(action="/cervezas/internacionales/#{cervezas._id}/?_method=DELETE",class="link",method="post")
                                    input(type="submit", value="Eliminar", class="btn btn-danger")

                

            .row-fluid
                h1.letraIndie.colorTitulo.animated.fadeIn.delay-1  El mejor lugar para beber y divertirse

        